<h1>
  Panel Layout
</h1>

<nav>
  <a routerLink="/" i18n="Home navigation link">HOME_NAVIGATION_LINK</a>
  <a routerLink="/unknown-route"  i18n="Home navigation link">UNKNOWN_ROUTE_NAVIGATION_LINK</a>
  <a routerLink="/internal-error" i18n="Internal error route navigation link">INTERNAL_ERROR_ROUTE_NAVIGATION_LINK</a>
</nav>
<br />
<nav>
  <a routerLink="/dashboard" routerLinkActive="active" i18n="Dashboard route navigation link">DASHBOARD_ROUTE_NAVIGATOIN_LINK</a>
  <a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" i18n="Products list navigation link">PRODUCTS_LIST_NAVIGATION_LINK</a>
  <a routerLink="/products/new" routerLinkActive="active" i18n="New product navigation link">NEW_PRODUCT_NAVIGATION_LINK</a>
</nav>

<router-outlet></router-outlet>