<h1 i18n>DASHBOARD_TITLE</h1>

<div class="flexDemoContainer">
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        <div fxFlex> I'm above on mobile, and left on larger devices. </div>
        <div fxFlex> I'm below on mobile, and right on larger devices. </div>
    </div>
</div>


<div class="app-content">

    <mat-card>
        <button mat-button>FLAT</button>
        <button mat-raised-button matTooltip="This is a tooltip!">RAISED</button>
        <button mat-raised-button color="primary">PRIMARY RAISED</button>
        <button mat-raised-button color="accent">ACCENT RAISED</button>
    </mat-card>

    <mat-card>
        <mat-checkbox>Unchecked</mat-checkbox>
        <mat-checkbox [checked]="true">Checked</mat-checkbox>
        <mat-checkbox [indeterminate]="true">Indeterminate</mat-checkbox>
        <mat-checkbox [disabled]="true">Disabled</mat-checkbox>
    </mat-card>

</div>
