@import "./../styles/utils/variables";
@import "./../styles/utils/media";
.main-content {
    display: flex;
    height: calc(100% - 20px);
    align-items: center;
    justify-content: center;
    margin: 10px;
    box-sizing: border-box;
    background: #e0e0e0;
    border: 4px solid #ccc;
}

.dashboard-container {
    min-height: 100%;
    height: 100%;
}

.sidenav {
    overflow-x: hidden;
}

.left-sidenav {
    width: 240px;
    max-width: 240px;
    min-width: 240px;
    padding: 10px;
    background: rgb(32, 38, 48);
    color: rgb(216, 216, 216);
    @include media("<=xsmall") {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
}

.right-sidenav {
    width: 360px;
    max-width: 360px;
    min-width: 360px;
    padding: 10px;
    background: rgb(255, 255, 255);
    color: rgb(32, 38, 48);
    @include media("<=medium") {
        width: 320px;
        max-width: 320px;
        min-width: 320px;
    }
    @include media("<=xsmall") {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
}

.mat-sidenav.mat-sidenav-opened:not(.mat-sidenav-side),
.mat-sidenav.mat-sidenav-opening:not(.mat-sidenav-side) {
    box-shadow: $z-depth-3;
}

.demo {
  display: flex;
  flex-flow: row wrap;

  .mat-list, .mat-nav-list {
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 350px;
    margin: 20px 20px 0 0;

  }
  h2 {
    margin-top: 20px;
  }

  .mat-icon {
    color: rgba(0, 0, 0, 0.12);
  }

  .mat-list-icon {
    color: white;
    background: rgba(0, 0, 0, 0.3);
  }
}

.demo-secondary-text {
  color: rgba(0, 0, 0, 0.54);
}
