/*body {
    font: $font-stack;
    color: $primary-color;
    background: $primary-background;
}*/

.box {
    @include border-radius(5px);
    background: red;
    height: 200px;
    width: 200px;
}

.background-image{
    background: url('/assets/images/background-sample.jpg') no-repeat;
    width: 916px;
    height: 611px;
}

.active{
    font-weight: bold;
}

.full-height {
    min-height: 100vh !important;
}