<nav>
  <div class="nav-wrapper">
    <a routerLink="/" class="left brand-logo">Logo</a>
    <ul class="right">
      <li><a routerLink="/samples" i18n="Samples link">SAMPLES_NAVIGATION_LINK</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/products" i18n>PRODUCTS_LIST_NAVIGATION_LINK</a></li>
      <li routerLinkActive="active"><a routerLink="/products/new" i18n>NEW_PRODUCT_NAVIGATION_LINK</a></li>
    </ul>
  </div>
</nav>

<div class="row">

  <div id="main-menu" class="col s12 m4 l3 xl2 teal full-height">
    <ul>
      <li><a routerLink="/unknown-route" i18n>UNKNOWN_ROUTE_NAVIGATION_LINK</a></li>
      <li><a routerLink="/internal-error" i18n>INTERNAL_ERROR_NAVIGATION_LINK</a></li>
    </ul>
  </div>

  <div id="main-content" class="col s12 m8 l9 xl10 teal lighten-5 full-height">
    <router-outlet></router-outlet>
  </div>

</div>
