<h1 i18n>PRODUCTS_FORM_TITLE</h1>

<div class="row">
  <form class="col s12">
    
    <div class="row">

      <div class="input-field col s6">
        <input id="name" type="text" placeholder="Product Name" class="validate invalid">
        <label for="name" class="active invalid">Name</label>
        <div>teste</div>
      </div>

      <div class="input-field col s6">
        <input id="code" type="text" placeholder="Product Code" class="validate">
        <label for="code" class="active">Code</label>
      </div>

    </div>

  </form>
</div>