<h1>
  Samples Layout
</h1>

<nav>
  <a routerLink="/samples" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" i18n>SAMPLES_LAYOUT_HOME_LINK</a>
  <a routerLink="/samples/font-awesome-support" routerLinkActive="active" i18n>SAMPLES_LAYOUT_FONT_AWESOME_SUPPORT_LINK</a>
  <a routerLink="/samples/localization-support" routerLinkActive="active" i18n>SAMPLES_LAYOUT_LOCALIZATION_SUPPORT_LINK</a>
  <a routerLink="/samples/materialize-support/forms" routerLinkActive="active" i18n>SAMPLES_LAYOUT_MATERIALIZE_SUPPORT_FORMS_LINK</a>
  <a routerLink="/samples/materialize-support/icons" routerLinkActive="active" i18n>SAMPLES_LAYOUT_MATERIALIZE_SUPPORT_ICONS_LINK</a>
  <a routerLink="/samples/materialize-support/layout" routerLinkActive="active" i18n>SAMPLES_LAYOUT_MATERIALIZE_SUPPORT_LAYOUT_LINK</a>
  <a routerLink="/samples/materialize-support/modal" routerLinkActive="active" i18n>SAMPLES_LAYOUT_MATERIALIZE_SUPPORT_MODAL_LINK</a>
</nav>

<router-outlet></router-outlet>

<a routerLink="/" i18n>SAMPLES_LAYOUT_BACK_LINK</a>
