<nav>
  <a routerLink="/samples" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" i18n>HOME_NAVIGATION_LINK</a>
  <a routerLink="/samples/font-awesome-support" routerLinkActive="active" i18n>FONT_AWESOME_SUPPORT_NAVIGATION_LINK</a>
  <a routerLink="/samples/localization-support" routerLinkActive="active" i18n>LOCALIZATION_SUPPORT_NAVIGATION_LINK</a>
  <a routerLink="/samples/materialize-support/forms" routerLinkActive="active" i18n>MATERIALIZE_SUPPORT_FORMS_NAVIGATION_LINK</a>
  <a routerLink="/samples/materialize-support/icons" routerLinkActive="active" i18n>MATERIALIZE_SUPPORT_ICONS_NAVIGATION_LINK</a>
  <a routerLink="/samples/materialize-support/layout" routerLinkActive="active" i18n>MATERIALIZE_SUPPORT_LAYOUT_NAVIGATION_LINK</a>
  <a routerLink="/samples/materialize-support/modal" routerLinkActive="active" i18n>MATERIALIZE_SUPPORT_MODAL_NAVIGATION_LINK</a>
</nav>

<router-outlet></router-outlet>

<a routerLink="/" i18n>BACK_NAVIGATION_LINK</a>
